{% extends 'app/base.html' %}
{% load static %}

{% block title %} Password change done
{% endblock title %}

{% block main-content %} 
<div class="container my-5">
        <div class="offset-sm-1 text-center">
            <h2>Payment Done Successfully !!!</h2>
            <div>
                <iframe src="https://giphy.com/embed/" width="200" height="200" 
                class="giphy-embed" allowfullscreen frameborder="0"></iframe>
            </div>
            <small class="text-primary"><span class="fw-bold text-primary lh-0">N/B</span> your payment will be proccessed and confirmed in less than 12hrs and goods be delivered
                to your provided location within 5 working days, do well to upload a clear screen shot of your payment Receipt
                and your proper address and contact, check your dash board for goods delivery progress <br></small>
                <a href="{% url 'order' %}" class=" col-sm-3 btn btn-primary shadow px-sm-5 px-2 py-2 ns-4"> View my Orders</a>
            </div>
    </div>
</div>

{% endblock main-content %}